:root {
  --background-color: #f4f4f4;
  --text-color: #333;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 100vh;
  padding: 80px 10% 20px; /* Extra top padding to avoid navbar overlap */
  background: var(--background-color);
  color: var(--text-color);
  transition: all 0.3s ease;
  scroll-margin-top: 80px; /* Prevent navbar from hiding content on scroll */
}

.content {
  flex: 1 1 50%;
  max-width: 600px;
}

.content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.content span {
  color: #6a11cb;
}

.content p {
  font-size: 1.25rem;
  color: var(--text-color);
}

.btn {
  background: #6a11cb;
  color: white;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1rem;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #4c0c9b;
}

.image-container {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  max-width: 100%;
  width: 290px;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.1);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 40px;
    text-align: center;
  }

  .content {
    max-width: 100%;
    margin-top: 50px;
    /* margin-bottom: 20px; */
  }

  .content h1 {
    font-size: 2rem;
  }

  .content p {
    font-size: 1rem;
  }

  .profile-img {
    width: 270px;
    height: auto;
  }
}
